html
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1"
  )

  link(rel="stylesheet" href="../../assets/shown.css")

  style.
    * {
      margin: 0
    }

    html, body {
      height: 100%;
      overflow: hidden;
    }

    body {      
      padding: 1em;
      box-sizing: border-box;
      font-family: system-ui, Helvetica, sans-serif;
    }

    /* Firefox doesn't constrain the element */
    .shown {
      height: 100%
    }

  body
    !=body