footer.fill-light.h6
  .max-width-4.mx-auto.py2.px2
    p.my0 #{config["project-version"]}
    .md-flex.justify-between
      p.my0
        | Made by 
        a(href="https://www.s-ings.com") s-ings

        | &ensp;&middot;&ensp;

        | Generated with 
        a(href="https://documentation.js.org/" target="_blank")
          | documentation.js

      include links