.max-width-3.py2
  h2 Get started

  p
    code shown
    |  generates simple HTML and SVG charts. Use the library with static-site generators (SSG), or in server-side rendering (SSR) contexts to create self-contained, embeddable chart documents.
    
  p.
    Charts adapt to different screen-sizes without any need for client-side JavaScript. Charts will expand and contract to fill their containers without affecting font size, so text remains legible across viewports.
  
  p.
    JavaScript-free templates reduce bundle sizes and improve performance by avoiding the need to do expensive recalculations when a container resizes.

  p.
    The library offers a high-level API to generate charts, providing good results with minimal configuration. When more flexibility is required, expressive data mapping allows for fine-grained control.

  p
    code shown
    |  fills the gap between unresponsive images and complex data visualization tools.
