.shown svg,
.symbol {
  overflow: visible;
}

.shown text {
  fill: currentColor;
}

.shown .axis {
  color: #333;
  user-select: none;
}
.shown .axis,
.shown .series-label {
  font-size: 85%;
}

.shown .axis-base {
  stroke: #ccc;
}

.shown .axis-line,
.shown .axis-spine {
  stroke: #ddd;
}

.shown .chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.shown .chart-pie {
  margin: auto;
  width: auto;
  align-items: center;
  justify-content: center;
}

.shown .chart-pie-wrap {
  width: 100%;
  max-width: calc(100vh - 2em);
}

.shown .chart-pie-svg {
  width: auto;
  height: 100%;
  display: block;
  margin: auto;
}

.shown .chart-bar > div {
  padding-bottom: 0.5em;
}

.shown .has-xaxis > div,
.shown .has-series > div {
  padding-bottom: 1.5em;
}

.shown .has-xaxis.has-series > div {
  padding-bottom: 2em;
}

.shown .has-yaxis > div {
  padding-top: 0.5em;
  padding-left: 3em;
}

.shown .yaxis-w4 > div {
  padding-left: 2.5em;
}

.shown .yaxis-w3 > div {
  padding-left: 2em;
}

.shown .yaxis-w2 > div {
  padding-left: 1.5em;
}

.shown .yaxis-w1 > div {
  padding-left: 1em;
}

.shown .xaxis-w4 > div {
  padding-right: 1.25em;
}

.shown .xaxis-w3 > div {
  padding-right: 1em;
}

.shown .xaxis-w2 > div {
  padding-right: 0.75em;
}

.shown .xaxis-w1 > div {
  padding-right: 0.5em;
}

.shown .legend {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0.75em auto 0;
  padding: 0;
}

.shown .legend-marker {
  width: 1.25em;
  height: 0.75em;
  margin-right: 0.5em;
}

.shown .symbol {
  font-size: 10px;
}
