.shown svg,
.symbol {
  overflow: visible;
}

.shown text {
  fill: currentColor;
}

.shown .axis {
  color: #333;
  font-size: 85%;
  user-select: none;
}

.shown .axis-base {
  stroke: #ccc;
}

.shown .axis-line,
.shown .axis-spine {
  stroke: #ddd;
}

.shown .chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.shown .chart-pie {
  margin: auto;
  width: auto;
  align-items: center;
  justify-content: center;
}

.shown .chart-pie-wrap {
  width: 100%;
  max-width: calc(100vh - 2em);
}

.shown .chart-pie-svg {
  width: auto;
  height: 100%;
  display: block;
  margin: auto;
}

.shown .legend {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em auto 0;
  padding: 0;
}

.shown .legend-marker {
  width: 1.25em;
  height: 0.75em;
  margin-right: 0.5em;
}

.shown .symbol {
  font-size: 10px;
}
