mixin property-row(property, depth)
  tr(class=(depth >= 1 && "indent"))
    td.break-word
      span.code.bold= property.name
      = " "
      br
      code!= format.type(property.type)

    td.break-word
      span!= format.md(property.description, true)

      if property.default
        br
        em
          | The default value is 
          code.roman= property.default
          = ". "

  if property.properties && property.properties.length
    each child in property.properties
      +property-row(child, (depth || 0) + 1)