mixin signature(section, includeReturns)
  strong
    if section.kind === "class"
      = "new "

    = section.name

  if section.returns.length
    != format.parameters(section)

    if includeReturns && section.returns.length
      = ": "
      != format.type(section.returns[0].type)
